html, body, #react-root {
  height: 100%;
  width: 100%;
}

#react-root {
  display: flex;
  align-items: center;
  justify-content: center;
}

:local .hello {
  background-image: linear-gradient(90deg,
    #f22 0%,
    #f2f 15%,
    #22f 30%,
    #2ff 45%,
    #2f2 60%,
    #2f2 75%,
    #ff2 90%,
    #f22 100%);

  color:transparent;
  -webkit-background-clip: text;

  font-size: 8em;
  text-align: center;
}